{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DjangoShop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
</head>
<body>

	<header>
		<nav class="navbar navbar-inverse" style="background-color: black;">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">Django Stadium</a>
			</div>
			<ul class="nav navbar-nav">
			  <li><a href="{% url 'main' %}">Home</a></li>
			  <li><a href="{% url 'myprofile' %}">My Profile</a></li>
			  <li><a href="{% url 'shop' %}">Tickets</a></li>
			  {% if user.is_authenticated %}
			  <li><a href="{% url 'cart' %}">Cart</a></li>
		 	  {% endif %}
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
					<li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				{% else %}
					<li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif %}
			</ul>
		  </div>
		</nav>
		</header>

<section style=" padding: 0.5%; margin-bottom: 2%;">


	{% block content %}
	<div class="container">
		<h2>Warenkorb</h2>
		<form method="post" action="{% url 'checkout' %}">
			{% csrf_token %}
			{% for product in products %}
			<div class="col-md-2 checkbox">
				<input type="checkbox" class="checkbox" name="ticket_{{ product.Ticketid }}" value="{{ product.Ticketid }}">
			</div>
			<div class="card mb-3" style="max-width: 540px;">
				<div class="row g-0">
					<div class="col-md-4">
						<img class="img-fluid rounded-start" src="https://www.theater-herne.de/fileadmin/_processed_/8/c/csm_Golden-Ticket_664f8d2f0b.jpg" alt="Ticket image">
					</div>
					<div class="col-md-6">
						<div class="card-body">
							<h5 class="card-title">{{ product.matchEvent.matchname }}</h5>
							<p class="card-text">Preis: {{ product.price }}</p>
							<p class="card-text">Section: {{ product.matchEvent.section }}</p>
						</div>
					</div>
				</div>
			</div>
			{% empty %}
			<p>Kein Produkt im Warenkorb.</p>
			{% endfor %}
			<div style="display: flex; margin-top: 0.5%; margin-right: 0.5%;">
				<input type="submit" class="btn btn-primary" name="action" value="Delete">
				<input type="submit" class="btn btn-primary" name="action" value="Buy" style="margin-left: 0.5%;">
				{% if user.customer.seasonticketholder %}
				<input type="submit" class="btn btn-primary" name="action" value="Reserve" style="margin-left: 0.5%;">
				{% endif %}
			</div>
		</form>
		{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
		</div>
	</div>
	</div>
	{% endblock %}

</section>

<footer style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 0.5%; background-color: black; color: black; text-align: center;">
        <div class="col-12 col-md">
        <a href="#">Django Stadium</a>
        <small class="d-block mb-3 text-muted">ITSB-B 2023 Software Design</small>
        </div>
</footer>


</body>

</html>