

body {
    font-family: Arial, sans-serif;
}

#login {
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.register-page {
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
    margin:10px;
}

form {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin:10px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
